{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load qr_code %}
{% block content%}

<script>
    function openNav() {
      document.getElementById("mySidebar").style.width = "450px";
      document.getElementById("main").style.marginRight = "10px";
    }
  
    function closeNav() {
      document.getElementById("mySidebar").style.width = "0";
      document.getElementById("main").style.marginRight= "0";
    }
</script>

{% if balances %}
    <div class="bal-grid-container">
        {% for balance in balances %}
            <div class="bal-item1" >
                <img class="card-img-top" style="width:100; height: 100;"src="{{ balance.AssetId.Icon.url}}">
                <div class="card-body" style="width:272px height">
                    <h5 class="card-title">{{ balance.AssetId.Fullname}}</h5>
                    <p class="card-text">{{ balance.Amount }}</p>
                    <div class="text-center">
                        <div id="main">
                            <!-- <button id="{{balance.AssetId.id}}" class="btn btn-dark center" onclick="openNav()">Make Deposit</button> -->
                        <a href="{% url 'landlord_transfers' balance.AssetId.id %}" class="btn btn-dark center">View Details</a>
                        </div>
                    </div>
                </div>
            </div>  
        {% endfor %}
    </div>
{% else %}
    <h5 class=""> You have no funds lad</h5>
    <div class="bal-grid-container">
    {% for asset in assets %}
        <div class="bal-item1" >
            <img class="card-img-top" style="width:100; height: 100;"src="{{ asset.Icon.url}}">
            <div class="card-body" style="width:272px height">
                <h5 class="card-title">{{ asset.Fullname}}</h5>
                <p class="card-text">0</p>
                <div class="text-center">
                        <div id="main">
                            <a href="{% url 'landlord_transfers' asset.id %}" class="btn btn-dark center">View Details</a>
                        </div>

                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endif %}
{% endblock content %}