{% extends "base.html" %}
{% load static %}
{% block content %}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" media="screen" />
<style>
    
    .divbackground1 {
        /* Set rules to fill background */
        /* min-height: 100%; */
        min-width: 1024px;
        background-image:url(https://storagetbstgnne1.blob.core.windows.net/static/images/city_background.jpg);
        /* background-image:url(https://previews.123rf.com/images/scottff72/scottff721208/scottff72120800032/14877769-3d-city-skyline-on-a-white-background.jpg); */
        background-repeat: no-repeat;
        background-attachment: cover;  
        background-size: cover;
            
        /* Set up proportionate scaling */
        width: 100%;
        /* height: 100%; */
        padding: none;
            
        /* Set up positioning */
        top: 0;
        left: 0;
        margin: 0 auto;
        /* position: absolute; */
        width: 100vw;
        position: relative;
        margin-left: -50vw;
        /* height: 100px; */
        /* margin-top: 100px; */
        left: 50%;
    }

    @media screen and (max-width: 1024px) { /* Specific to this particular image */
        .divbackground1 {
            left: 50%;
            margin-left: -512px;
        }
    } 

    /* #content {
    padding: 33% 25% 5%;  
    } */

    .search-form {
    /* border-radius: 50px 0 0 50px; */
    border: 10px;
    height: 70px;
    }

    .input-group {
    width:100%;
    }

    input-group-btn {
    max-width:100px;
    }

    #search {
    border: 10px;
    }

    .search-btn {
    cursor:pointer;
    border: 10px;
    width: 70px;
    /* border-radius: 0 30px 30px 0;  */
    background-color:#fff;
    color:#669;
    
    }

    .text-center {
    color: #fff;
    }
    div.boxcard {
        /* width: 250px; */
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        text-align: center;
    }

</style>

<div class="divbackground1">
        <br/>
        <br/>
        <br/>
        <br/>
        <h1 style="color:white; text-align:center; font-weight: bold; font-size: 60px;">TriBloc</h1>
        <h3 style="color:white; text-align:center;">A new way to find a home</h3>
        <br/>

        <form>
            <div class="input-group" style="width:600px; margin:auto;">
            <input type='text' id='search' class="form-control search-form" placeholder="Search for accomadation">
                <button id="search-this"type="button" class="pull-right btn input-group-btn search-btn">
                    <!-- <i class="material-icons">&#128269</i> -->
                    <i class="fa fa-search" title="Edit"></i>
                </button>
            </div>
        </form>
        
        <p class="text-center">Search by City, Town, Country . . .</p>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
</div>
<br/>

<div class="homepage-grid-container">
    <div class="item1 boxcard">
        <h3 style="color:#41b6ae;">Find A Home</h3>
        <img src="https://image.freepik.com/free-vector/smiling-salesperson-showing-house_76775-185.jpg" style="height:150px; width:200px;">
        <p class="text-center" style="color:black;">All our listed properties have been placed by verified homeowners or property managers to give you peace of mind when selecting a property you like, and don't just take it from us. Previous tenants can leave their own review on the properties listed on our site. </p>

    </div> 
    <div class="item1 boxcard">
        <h3 style="color:#41b6ae;">Easy Application Process</h3>
        <img src="https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX24200599.jpg" style="height:150px; width:200px;">
        <p class="text-center" style="color:black;">We pre-screen all our clients and require tenants to complete an effective KYC process and provide the relative documents needed before even being able to apply for a property, making the process quicker for prospective tenants and for homeowners. </p>
    </div>
    <div class="item1 boxcard">
        <h3 style="color:#41b6ae;">Manage Your Property</h3>
        <img src="https://innago.com/wp-content/uploads/2019/10/home-page-hero-image.svg" style="height:150px; width:200px;">
        <p class="text-center" style="color:black;">Receive, make and track rental payments with TriBloc and use our software keep a full history of your leasing agreement. Our network also means we can help you with all the typical tasks with managing property, such as finding a plumber, mover, dresser or even someone to hang pictures. </p>
    </div>
</div>
<br/>

{% endblock content%}
