{% extends "base.html" %}
{% load static %}
{% block content%}

<style>
  .card-horizontal {
      display: flex;
      flex: 1 1 auto;
  }
  html {
    height: 100%;
    background: #41b6ae; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #6441A5, #2a0845); /* Chrome 10-25, Safari 5.1-6 */
  }

  body {
      /* font-family: montserrat, arial, verdana; */
      background: transparent;
  }

</style>

<div class="col-md-12 text-center">
  <h2 style="color:#fff;border:1px solid white;padding:10px;margin:15px;">My Properties</h2>
</div>

<div class="container">
  <!-- Breadcrumb -->
  <nav aria-label="breadcrumb" class="main-breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'landlord_properties_tableview' %}">Table View</a></li>
      <li class="breadcrumb-item"><a href="{% url 'landlord_properties' %}">Detail View</a></li>
    </ol>
  </nav>
  <!-- /Breadcrumb -->
  <div class="row">
    <div class="col-12">
		<table class="table table-image" style="background-color: white;">
		  <thead>
		    <tr>
		      <th scope="col">#</th>
          <th scope="col">Property</th>
		      <th scope="col">Date Entered</th>
		      <th scope="col">Status</th>
		      <th scope="col">Price</th>
		      <th scope="col">Action</th>
		    </tr>
		  </thead>
		  <tbody>
        {% for property in properties%}
		    <tr>
		      <th scope="row" style="vertical-align: middle;">{{property.id}}</th>
		      <td class="w-25">
            <img src="{{ property.PreviewImage.url}}" class="rounded-circle" width="100" height="100">
            {{property.AddressLine1}}
          </td>
		      <td style="vertical-align: middle;">{{property.CreatedAt}}</td>
		      <td style="vertical-align: middle;">{{property.ListingStatus}}</td>
		      <td style="vertical-align: middle;">{{property.Price}}</td>
          <td style="vertical-align: middle;">
            <a href="{% url 'landlord_property_applications' property.pk %}" class="btn btn-primary"><i class="far fa-eye">View</i></a>
            <button type="button" class="btn btn-success"><i class="fas fa-edit"></i>Update</button>
            <button type="button" class="btn btn-danger"><i class="far fa-trash-alt"></i>Disable</button>
          </td>
		    </tr>
        {% endfor %}
		  </tbody>
		</table>   
    </div>
  </div>
</div>

{% endblock content %}


