{% extends "base.html" %}
{% load static %}
{% block content%}

<style>
  .card-horizontal {
      display: flex;
      flex: 1 1 auto;
  }
  html {
            height: 100%;
            background: #41b6ae; /* fallback for old browsers */
            background: -webkit-linear-gradient(to left, #6441A5, #2a0845); /* Chrome 10-25, Safari 5.1-6 */
        }

  body {
      /* font-family: montserrat, arial, verdana; */
      background: transparent;
  }

</style>

<div class="col-md-12 text-center">
  <h2 style="color:#fff;border:1px solid white;padding:10px;margin:15px;">My Properties</h2>
</div>

<div class="container">
  <!-- Breadcrumb -->
  <nav aria-label="breadcrumb" class="main-breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'landlord_properties_tableview' %}">Table View</a></li>
      <li class="breadcrumb-item"><a href="{% url 'landlord_properties' %}">Detail View</a></li>
    </ol>
  </nav>
  <!-- /Breadcrumb -->
  <div class="row">
    {% for property in properties%}    
      <div class="col-12 mt-3">
          <div class="card">
              <div class="card-horizontal">
                  <div class="img-square-wrapper">
                      <img class="" src="{{ property.PreviewImage.url}}" style="width:360px; height: 240px;" alt="Card image cap">
                  </div>
                  <div class="card-body">
                      <h4 class="card-title" style="color:black;">{{property.AddressLine1}}</h4>
                      <dl>
                        <p class="card-text">Some quick example text</p>
                        <dt><b>Bedrooms: </b>{{property.NoOfBedrooms}}</dt>
                        <dt><b>Bathrooms: </b>{{property.NoOfBathrooms}}</p>
                        <dt><b>Rent: </b>€{{property.Price}}</p>
                      </dt>
                  </div>
                  <div class="card text-center text-white" style="background:#41b6ae; float:right; margin:8px; width:268px; height: 220px;" >
                    <h5 style="padding:5px;">Applications</h5>
                    <br>
                    <p><b>Open Applications: </b><u>3</u></p>
                    <p><b>Scheduled Viewings: </b><u>9</u></p>
                    <a href="{% url 'landlord_property_applications' property.pk %}" class="btn btn-dark">View applications</a>
                  </div>
              </div>
              <div class="card-footer">
                  <small class="text-muted">Last updated 3 mins ago</small>
              </div>
          </div>
      </div>
    {% endfor %}
  </div>
</div>

{% endblock content %}


