{% extends "base.html" %}
{% load static %}
{% block content %}

<style>
    .center {
        border: 1px #41b6ae;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 10px;
        margin-left: 10px;
        /* background: #41b6ae; */
}
</style>

<div class="container">
    <div class="content-section border border-dark active-purple-3"style="background: #41b6ae">
        <div class="container text-white text-center">
            {% if user.is_authenticated %}
                <h1 style="color: white">Welcome back to TriBloc, {{ request.user}}!</h1>
                {% if request.user.last_name == 'False' %}
                    <h3 style="color: white">Lets find the perfect spot for you!</h3>
                {% else %}
                    <h3 style="color: white">Lets find the perfect tenants for you!</h3>
                {% endif %}
            {% else %}
                <img src="{% static '/images/tb_logo3.png' %}" style="position:center; height: 180px; width:auto; margin: auto">
                <h1 style="color: white">Join TriBloc today!</h1>
                <h2 style="color: white">Get your spot on</h2>
            {% endif %}
            <div class="container " style="padding:3px; background:#41b6ae" >
                <form method ="get" style="width: 100%;" >
                    {{ myFilter.form }}
                    <br/>
                    <button class="border border-dark" type="submit">Search</button>
                </form>
            </div>
            <br/>
        </div>
    </div>
</div>
<div class="container">
    <div class="col-md-12 text-center">
        <h2 style="color:#41b6ae;border:1px solid #41b6ae;padding:10px;margin-top:15px;">Available Listings</h2>
      </div>
    <!-- <legend class="border-bottom mb-4 ">Available Listings</legend> -->
    <br/>
    <div class="column-md-12" >
        <div class="row" style="margin: 15px" >
            {% if properties  %}
                {% for property in properties %}
                    <br/>
                    <div class="col-md-3" style="padding: 10px; ">
                        <div class="card mb-2 border border-dark">
                            <img class="card-img-top border border-dark" style=" height: 220px;" src="{{ property.PreviewImage.url}}">
                            <div class="card-body" style="width:272px" >
                                <h5 class="card-title">{{ property.AddressLine1 }}</h5>
                                <h5 class="card-title">{{ property.County }}</h5>
                                <p class="card-text">{{ property.Description | stringformat:".28s" }} ...</p> <!--the sfrmat function limits the characters -->
                                <p class="card-text">€{{ property.Price }} p/m</p>
                                <div class="text-center">
                                    <a href="{% url 'project_detail' property.pk %}" class="btn btn-dark center">View Property</a>
                                </div>
                            </div>
                        </div>
                    </div> 
                {% endfor %}
            {% else %}
                <h5 class="" style="padding:5px" > No properties found matching your search criteria, please refine your search.</h5>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content%}
