{% extends "base.html" %}
{% load static %}
{% block content%}

<style>
  html {
            height: 100%;
            background: #41b6ae; /* fallback for old browsers */
            background: -webkit-linear-gradient(to left, #6441A5, #2a0845); /* Chrome 10-25, Safari 5.1-6 */
        }

  body {
      /* font-family: montserrat, arial, verdana; */
      background: transparent;
  }
  .card-horizontal {
      display: flex;
      flex: 1 1 auto;
  }
  td {
    vertical-align: middle;
  }

</style>

<div class="container">
  <div class="row">
  <div class="col-md-12 text-center">
    <h2 style="color:white;border:1px solid white;padding:10px;margin-top:15px;">Manage Property</h2>
  </div>
  </div>
  <div class="main-body">
    <div class="row gutters-sm">
    <div class="col-md-4 mb-3">
      <div class="card">
        <div class="card-body">
          <div class="d-flex flex-column align-items-center text-center">
            <img src="{{ properties.PreviewImage.url}}" alt="Admin" class="card-img-top" style="width:268px; height: 220px;">
            <div class="mt-3">
              <h4 style="color:black;">{{properties.AddressLine1}}</h4>
              <p class="text-secondary mb-1">{{properties.County}}</p>
              <p class="text-muted font-size-sm">{{properties.Country}}</p>
              <button class="btn btn-primary">Update</button>
              <button class="btn btn-outline-primary">View</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card mb-3">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-3">
              <h6 class="mb-0">Full Name</h6>
            </div>
            <div class="col-sm-9 text-secondary">
              {{tenant.Firstname}} {{tenant.Lastname}}
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <h6 class="mb-0">Email</h6>
            </div>
            <div class="col-sm-9 text-secondary">
              {{tenant.ClientId.email}}
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <h6 class="mb-0">Phone</h6>
            </div>
            <div class="col-sm-9 text-secondary">
              {{tenant.Telephone}}
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <h6 class="mb-0">Nationality</h6>
            </div>
            <div class="col-sm-9 text-secondary">
              {{tenant.NationalityCountryId}}
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h2 style="color:white;border:1px solid white;padding:10px;">Applicants</h2>
    </div>
    <div class="col-12">
		<table class="table table-image" style="background-color: white;">
		  <thead>
		    <tr>
		      <th scope="col">#</th>
          <th scope="col">Name</th>
		      <th scope="col">Date Applied</th>
		      <th scope="col">Status</th>
		      <th scope="col">Note</th>
		      <th scope="col">Action</th>
		    </tr>
		  </thead>
		  <tbody>
        {% for application in property_applications %} 
		    <tr>
		      <th scope="row" style="vertical-align: middle;">{{application.id}}</th>
		      <td class="w-25">
            <img src="{{ application.ApplicantClientId.Selfie.url}}" class="rounded-circle" width="100" height="100" alt="Sheep">
            {{application.ApplicantClientId.Firstname}} {{application.ApplicantClientId.Lastname}}
          </td>
		      <td style="vertical-align: middle;">{{application.CreatedAt}}</td>
		      <td style="vertical-align: middle;">{{application.ApplicationStatus}}</td>
		      <td style="vertical-align: middle;">{{application.Note}}</td>
          <td style="vertical-align: middle;">
            <a href="{% url 'tenant_public_profile' application.ApplicantClientId.ClientId.id %}" class="btn btn-primary"><i class="far fa-eye">View</i></a>
            <button type="button" class="btn btn-success"><i class="fas fa-edit">Approve</i></button>
            <button type="button" class="btn btn-danger"><i class="far fa-trash-alt">Reject</i></button>
          </td>
		    </tr>
        {% endfor %}
		  </tbody>
		</table>   
    </div>
  </div>
</div>

{% endblock content %}


