{% extends "base.html" %}
{% load static %}
{% block content%}

<style>
  html {
            height: 100%;
            background: #41b6ae; /* fallback for old browsers */
            background: -webkit-linear-gradient(to left, #6441A5, #2a0845); /* Chrome 10-25, Safari 5.1-6 */
        }

  body {
      /* font-family: montserrat, arial, verdana; */
      background: transparent;
  }
  .card-horizontal {
      display: flex;
      flex: 1 1 auto;
  }
  td {
    vertical-align: middle;
  }

</style>

<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h2 style="color:white;border:1px solid white;padding:10px;margin-top:15px;">My Applications</h2>
    </div>
    <div class="col-12">
		<table class="table table-image" style="background-color: white;">
		  <thead>
		    <tr>
		      <th scope="col">#</th>
          <th scope="col">Property</th>
		      <th scope="col">Date Applied</th>
		      <th scope="col">Status</th>
		      <th scope="col">Note</th>
		      <th scope="col">Action</th>
		    </tr>
		  </thead>
		  <tbody>
        {% for application in property_applications %} 
		    <tr>
		      <th scope="row" style="vertical-align: middle;">{{application.id}}</th>
		      <td class="w-25">
            <img src="{{ application.PropertyId.PreviewImage.url}}" class="rounded-circle" width="100" height="100" alt="Sheep">
            {{application.PropertyId.AddressLine1}}
          </td>
		      <td style="vertical-align: middle;">{{application.CreatedAt}}</td>
		      <td style="vertical-align: middle;">{{application.ApplicationStatus}}</td>
		      <td style="vertical-align: middle;">{{application.Note}}</td>
          <td style="vertical-align: middle;">
            <a href="{% url 'tenant_public_profile' application.ApplicantClientId.ClientId.id %}" class="btn btn-primary"><i class="far fa-eye">View</i></a>
            <button type="button" class="btn btn-danger"><i class="far fa-trash-alt">Cancel</i></button>
          </td>
		    </tr>
        {% endfor %}
		  </tbody>
		</table>   
    </div>
  </div>
</div>

{% endblock content %}


