{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content%}
<body>
<div class="login-grid-container">

    <div class="login-item1">
        <br/>
        <br/>
        <!-- <img src="https://lh3.googleusercontent.com/proxy/4YnibeLMf-2EW731z-4Qv87LdilEGg5DUTPMOaJYsMszujfmjvs6neOh_5c7D0gZTbmet1OtBNIuE6PYgT2SVMt2pOlHWjDPISR61B3CzExqcxokLKGmdZwRh6UQC4TY4ctk9AluoTT7vw" style="height: 300; width:300px;"> -->
        <img src="{%static '/images/login_bg_image2.png' %}" style="height: 400; width:600;">

    </div>
    <div class="login-item2">
        <div class="login-form">
            <form method="POST">
                <h2 class="text-center">Login</h2>   
                    {% csrf_token %}
                    <fieldset class="form-group">
                        {{ form|crispy }}
                    </fieldset>     
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Sign in</button>
                </div>
                <p><a href="#">Lost your Password?</a></p>
            </form>
        </div>
    </div>
    <div class="login-item3">
    
    </div>
    <div class="login-item4">
        <p class="text-center small;" style="color: #333131;">Need An Account? <a style="color: #333131;" href="{%url 'register' %}">Sign Up Now</a></p>
    </div>

</div>
<!-- END MAIN CONTENT AREA -->
</body>
{% endblock content %}
