{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content%}

<style>
    body {
        color: #fff;
        background: #fff;
    }
    .form-control {
        min-height: 41px;
        background: #f2f2f2;
        box-shadow: none !important;
        border: transparent;
    }
    .form-control:focus {
        background: #e2e2e2;
    }
    .form-control, .btn {        
        border-radius: 2px;
    }
    .login-form {
        width: 450px;
        margin: 30px auto;
        text-align: center;
    }
    .login-panel {
        width: 650px;
        margin: 30px auto;
        text-align: left;
        color: #7a7a7a;
        border-radius: 3px;
        margin-bottom: 15px;
        background: #fff;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
    }
    .login-form h2 {
        margin: 10px 0 25px;
        color: #7a7a7a;
    }
    .login-form form {
        color: #7a7a7a;
        border-radius: 3px;
        margin-bottom: 15px;
        background: #fff;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
    }
    .login-form .btn {        
        font-size: 16px;
        font-weight: bold;
        background: #41b6ae;
        border: none;
        outline: none !important;
    }
    .login-form .btn:hover, .login-form .btn:focus {
        background: #fff; 
    }
    .login-form a {
        color: #fff;
        text-decoration: underline;
    }
    .login-form a:hover {
        text-decoration: none;
    }
    .login-form form a {
        color: #7a7a7a;
        text-decoration: none;
    }
    .login-form form a:hover {
        text-decoration: underline;
    }
</style>
<h2>You have been logged out</h2>
<table align="center" cellpadding="0" cellspacing="0" style="border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 70%;">
    <tr>
        <td>
            <div class="login-panel">
                <p>Helping tenants get the full picture of properties on the market</p>
                </br>
                <p>Landlords have more access to data to help them find reliable tenants</p>
                </br>
                <p>Property Managers can manage their properties more efficently</p>
            </div>
        </td>
        <td>
            <div class="login-form">

                <h2 class="text-center">Login</h2>   

                <a href="#" class="btn btn-primary btn-lg btn-block" onclick="window.location.href = '/login'">Sign in</a>
 

                    <!-- <div class="btn btn-primary btn-lg btn-block"><a href="{%url 'login' %}"></a>Sign in</a></div> -->

                <p><a href="#">Lost your Password?</a></p>

            <p class="text-center small;" style="color: #333131;">Need An Account? <a style="color: #333131;" href="{%url 'register' %}">Sign Up Now</a></p>
            </div>
        </td>

    </tr>
</table>

<!-- END MAIN CONTENT AREA -->

{% endblock content %}
