{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content%}
<title>TriBloc - Edit Profile</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<style>
        html {
            height: 100%;
            background: #41b6ae; /* fallback for old browsers */
            background: -webkit-linear-gradient(to left, #6441A5, #2a0845); /* Chrome 10-25, Safari 5.1-6 */
        }

        body {
            background: transparent;
        }

        /*form styles*/
        #msform {
            text-align: center;
            position: relative;
            margin-top: 30px;
        }

        #msform fieldset {
            background: white;
            border: 0 none;
            border-radius: 0px;
            box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
            padding: 20px 30px;
            box-sizing: border-box;
            width: 80%;
            margin: 0 10%;

            /*stacking fieldsets above each other*/
            position: relative;
        }

        /*Hide all except first fieldset*/
        #msform fieldset:not(:first-of-type) {
            display: none;
        }

        /*inputs*/
        #msform input, select, #msform textarea {
            padding: 15px;
            border: 1px solid #ccc;
            border-radius: 0px;
            margin-bottom: 10px;
            width: 100%;
            box-sizing: border-box;
            color: #2C3E50;
            font-size: 13px;
        }

        #msform input:focus, #msform textarea:focus {
            -moz-box-shadow: none !important;
            -webkit-box-shadow: none !important;
            box-shadow: none !important;
            border: 1px solid #ee0979;
            outline-width: 0;
            transition: All 0.5s ease-in;
            -webkit-transition: All 0.5s ease-in;
            -moz-transition: All 0.5s ease-in;
            -o-transition: All 0.5s ease-in;
        }

        /*buttons*/
        #msform .action-button {
            width: 100px;
            background: #ee0979;
            font-weight: bold;
            color: white;
            border: 0 none;
            border-radius: 25px;
            cursor: pointer;
            padding: 10px 5px;
            margin: 10px 5px;
        }

        #msform .action-button:hover, #msform .action-button:focus {
            box-shadow: 0 0 0 2px white, 0 0 0 3px #ee0979;
        }

        #msform .action-button-previous {
            width: 100px;
            background: #C5C5F1;
            font-weight: bold;
            color: white;
            border: 0 none;
            border-radius: 25px;
            cursor: pointer;
            padding: 10px 5px;
            margin: 10px 5px;
        }

        #msform .action-button-previous:hover, #msform .action-button-previous:focus {
            box-shadow: 0 0 0 2px white, 0 0 0 3px #C5C5F1;
        }

        /*headings*/
        .fs-title {
            font-size: 18px;
            text-transform: uppercase;
            color: #2C3E50;
            margin-bottom: 10px;
            letter-spacing: 2px;
            font-weight: bold;
        }

        .fs-subtitle {
            font-weight: normal;
            font-size: 13px;
            color: #666;
            margin-bottom: 20px;
        }

        /*progressbar*/
        #progressbar {
            margin-bottom: 30px;
            overflow: hidden;
            /*CSS counters to number the steps*/
            counter-reset: step;
        }

        #progressbar li {
            list-style-type: none;
            color: white;
            text-transform: uppercase;
            font-size: 9px;
            width: 33.33%;
            float: left;
            position: relative;
            letter-spacing: 1px;
        }

        #progressbar li:before {
            content: counter(step);
            counter-increment: step;
            width: 24px;
            height: 24px;
            line-height: 26px;
            display: block;
            font-size: 12px;
            color: #333;
            background: white;
            border-radius: 25px;
            margin: 0 auto 10px auto;
        }

        /*progressbar connectors*/
        #progressbar li:after {
            content: '';
            width: 100%;
            height: 2px;
            background: white;
            position: absolute;
            left: -50%;
            top: 9px;
            z-index: -1; /*put it behind the numbers*/
        }

        #progressbar li:first-child:after {
            /*connector not needed before the first step*/
            content: none;
        }

        /*marking active/completed steps green*/
        /*The number of the step and the connector before it = green*/
        #progressbar li.active:before, #progressbar li.active:after {
            background: #ee0979;
            color: white;
        }


        /* Not relevant to this form */
        .dme_link {
            margin-top: 30px;
            text-align: center;
        }
        .dme_link a {
            background: #FFF;
            font-weight: bold;
            color: #ee0979;
            border: 0 none;
            border-radius: 25px;
            cursor: pointer;
            padding: 5px 25px;
            font-size: 12px;
        }

        .dme_link a:hover, .dme_link a:focus {
            background: #C5C5F1;
            text-decoration: none;
        }

    .fileUpload {
        position: relative;
        overflow: hidden;
        margin: 15px;
        border: 1px solid #000000;
        top: 1px;
        background-color: #d8d8d8;
        margin: auto;
    }
    .imageUpload {
        /* position: relative;
        overflow: hidden;
        margin: 10px; */
        border-top: 1px solid #000000;
        text-align: center;
        /* top: 1px;
        right: 10px;
        margin: 10px; */
        margin: auto;
        padding: 10px;
        /* background-color: #d8d8d8; */
    }
    .my_class {
        position: relative;
        overflow: hidden;
        border: 1px solid #cfcfcf;
        margin: 15px;
        padding: 10px;
        background-color: #ffffff;
        width: 100%;
    }
    select {
        position: relative;
        overflow: hidden;
        border: 1px solid #cfcfcf;
        margin: 15px;
        padding: 10px;
        background-color: #ffffff;
        width: 100%;
    }
    .documentUpload {
        position: relative;
        overflow: hidden;
        border: 1px solid #000000;
        margin: 15px;
        padding: 10px;
        background-color: #d8d8d8;
        width: 100%;
    }
</style>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <form id="msform" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <!-- progressbar -->
            <ul id="progressbar">
                <li class="active">Personal Details</li>
                <li>ID Verification</li>
                <li>Additional Information</li>
            </ul>
            <fieldset>
            <h3>Personal Details</h3>
                <div class="form-row">
                    <div class="col-md-4">{{ p_form.Firstname }}</div>
                    <div class="col-md-4">{{ p_form.Middlename }}</div>
                    <div class="col-md-4">{{ p_form.Lastname }}</div>
                </div>
                <div class="form-row">
                    <div class="col-md-4"><i>Date Of Birth</i></div>
                    <div></div>
                </div>
                <div class="form-row">
                    <div class="col-md-4">{{ p_form.DateOfBirth }}</div>
                    <div class="col-md-4">{{ p_form.Gender }}</div>
                </div>
                <div class="form-row">
                    <div class="col-md-4">{{ p_form.NationalityCountryId }}</div>
                    <div class="col-md-4">{{ p_form.Telephone }}</div>
                </div>
                <input type="button" name="next" class="next action-button" value="Next"/>
            </fieldset>
            <fieldset>
                <h3>ID Verification</h3>
                <p>Please upload a clear image of the following documents and headshots. The following formats are accepted : (.png, .jpg, .jpeg)</p>
                <div class="form-row" >
                    <div class="fileUpload">
                        <p>Official ID*</p>
                        <img src="https://cdn1.iconfinder.com/data/icons/finance-and-business-vol2/48/identity_card_id_employee_user_details_customer-512.png" alt="ID" width="100px" height="100px">                
                        <br/>
                        {{ p_form.Identification }}
                    </div>
                    <div class="fileUpload">
                        <p>Selfie*</p>
                        <img src="https://image.flaticon.com/icons/png/128/2885/2885542.png" alt="ID" width="100px" height="100px">                
                        <br/>
                        {{ p_form.Selfie }}
                    </div>
                </div>
                <input type="button" name="previous" class="previous action-button-previous" value="Previous"/>
                <input type="button" name="next" class="next action-button" value="Next"/>
            </fieldset>
            <fieldset>
                <h3>Additional Information</h3>
                <p>Employment and Financial Info</p>
                <div class="form-row">
                    <div class="col-md-4">{{ p_form.EmploymentStatusId }}</div>
                    <div class="col-md-4">{{ p_form.EmployerTypeId }}</div>
                    <div class="col-md-4">{{ p_form.EmployerIndustryId }}</div>
                </div>
                <div class="form-row">
                    <div class="col-md-4">{{ p_form.EmployerName }}</div>
                    <div class="col-md-4">{{ p_form.Salary }}</div>
                    <div class="col-md-4">{{ p_form.Savings }}</div>
    
                </div>
                <div class="form-row">
                    <div class="col-md-4">
                        <i>Attach Employment Letter or Payslip</i>  
                        <br/>
                        {{ p_form.EmploymentDocument }}
                    </div>
                    <div class="col-md-4">
                        <i>Attach Bank Statement</i>  
                        <br/>
                        {{ p_form.BankStatement }}
                    </div>
                </div>
                <p>Previous Accomadation Info</p>
                <div class="form-row">
                    <div class="col-md-4">{{ p_form.PreviousLandlordName }}</div>
                    <div class="col-md-4">{{ p_form.PreviousLandlordEmail }}</div>
                    <div class="col-md-4">{{ p_form.PreviousLandlordPhone }}</div>
                </div>
                <div class="form-row">
                    <div class="col-md-4">
                        <i>Landlord Reference</i>
                        <br/>
                        {{ p_form.Reference }}
                    </div>
                </div>
                <br/>
                <input type="button" name="previous" class="previous action-button-previous" value="Previous"/>
                <input type="submit" name="submit" class="submit action-button" value="Update"/>
            </fieldset>
        </form>
    </div>
</div>

<script>

    //jQuery time
    var current_fs, next_fs, previous_fs; //fieldsets
    var left, opacity, scale; //fieldset properties which we will animate
    var animating; //flag to prevent quick multi-click glitches

    $(".next").click(function(){
        if(animating) return false;
        animating = true;

        current_fs = $(this).parent();
        next_fs = $(this).parent().next();

        //activate next step on progressbar using the index of next_fs
        $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");

        //show the next fieldset
        next_fs.show();
        //hide the current fieldset with style
        current_fs.animate({opacity: 0}, {
            step: function(now, mx) {
                //as the opacity of current_fs reduces to 0 - stored in "now"
                //1. scale current_fs down to 80%
                scale = 1 - (1 - now) * 0.2;
                //2. bring next_fs from the right(50%)
                left = (now * 50)+"%";
                //3. increase opacity of next_fs to 1 as it moves in
                opacity = 1 - now;
                current_fs.css({
            'transform': 'scale('+scale+')',
            'position': 'absolute'
          });
                next_fs.css({'left': left, 'opacity': opacity});
            },
            duration: 800,
            complete: function(){
                current_fs.hide();
                animating = false;
            },
            //this comes from the custom easing plugin
            easing: 'easeInOutBack'
        });
    });

    $(".previous").click(function(){
        if(animating) return false;
        animating = true;

        current_fs = $(this).parent();
        previous_fs = $(this).parent().prev();

        //de-activate current step on progressbar
        $("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");

        //show the previous fieldset
        previous_fs.show();
        //hide the current fieldset with style
        current_fs.animate({opacity: 0}, {
            step: function(now, mx) {
                //as the opacity of current_fs reduces to 0 - stored in "now"
                //1. scale previous_fs from 80% to 100%
                scale = 0.8 + (1 - now) * 0.2;
                //2. take current_fs to the right(50%) - from 0%
                left = ((1-now) * 50)+"%";
                //3. increase opacity of previous_fs to 1 as it moves in
                opacity = 1 - now;
                current_fs.css({'left': left});
                previous_fs.css({'transform': 'scale('+scale+')', 'opacity': opacity});
            },
            duration: 800,
            complete: function(){
                current_fs.hide();
                animating = false;
            },
            //this comes from the custom easing plugin
            easing: 'easeInOutBack'
        });
    });

</script>

<!-- <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="kyc-grid-container">
        <div class="kyc-item1">

        </div>
        <div class="kyc-item2">
            <h3>Personal Details</h3>
            <div class="form-row">
                <div class="col-md-4">{{ p_form.Firstname }}</div>
                <div class="col-md-4">{{ p_form.Middlename }}</div>
                <div class="col-md-4">{{ p_form.Lastname }}</div>
            </div>
            <div class="form-row">
                <div class="col-md-4"><i>Date Of Birth</i></div>
                <div></div>
            </div>
            <div class="form-row">
                <div class="col-md-4">{{ p_form.DateOfBirth }}</div>
                <div class="col-md-4">{{ p_form.Gender }}</div>
            </div>
            <div class="form-row">
                <div class="col-md-4">{{ p_form.NationalityCountryId }}</div>
                <div class="col-md-4">{{ p_form.Telephone }}</div>
            </div>
        </div>
        <div class="kyc-item3">
        </div>
        <div class="kyc-item4">
            <h3>ID Verification</h3>
            <p>Please upload a clear image of the following documents and headshots. The following formats are accepted : (.png, .jpg, .jpeg)</p>
            <div class="form-row" >
                <div class="fileUpload">
                    <p>Official ID*</p>
                    <img src="https://cdn1.iconfinder.com/data/icons/finance-and-business-vol2/48/identity_card_id_employee_user_details_customer-512.png" alt="ID" width="100px" height="100px">                
                    <br/>
                    {{ p_form.Identification }}
                </div>
                <div class="fileUpload">
                    <p>Selfie*</p>
                    <img src="https://image.flaticon.com/icons/png/128/2885/2885542.png" alt="ID" width="100px" height="100px">                
                    <br/>
                    {{ p_form.Selfie }}
                </div>
            </div>
        </div>
        <div class="kyc-item5">
        </div>
        <div class="kyc-item6">

            <h3>Additional Information</h3>
            <p>Employment and Financial Info</p>
            <div class="form-row">
                <div class="col-md-4">{{ p_form.EmploymentStatusId }}</div>
                <div class="col-md-4">{{ p_form.EmployerTypeId }}</div>
                <div class="col-md-4">{{ p_form.EmployerIndustryId }}</div>
            </div>
            <div class="form-row">
                <div class="col-md-4">{{ p_form.EmployerName }}</div>
                <div class="col-md-4">{{ p_form.Salary }}</div>
                <div class="col-md-4">{{ p_form.Savings }}</div>

            </div>
            <div class="form-row">
                <div class="col-md-4">
                    <i>Attach Employment Letter or Payslip</i>  
                    <br/>
                    {{ p_form.EmploymentDocument }}
                </div>
                <div class="col-md-4">
                    <i>Attach Bank Statement</i>  
                    <br/>
                    {{ p_form.BankStatement }}
                </div>
            </div>
            <p>Previous Accomadation Info</p>
            <div class="form-row">
                <div class="col-md-4">{{ p_form.PreviousLandlordName }}</div>
                <div class="col-md-4">{{ p_form.PreviousLandlordEmail }}</div>
                <div class="col-md-4">{{ p_form.PreviousLandlordPhone }}</div>
            </div>
            <div class="form-row">
                <div class="col-md-4">
                    <i>Landlord Reference</i>
                    <br/>
                    {{ p_form.Reference }}
                </div>
            </div>
            <br/>
            <div class ="form-group  text-center">
                <button class="btn bg-dark btn-outline-info text-white" type="submit">Update</button>
            </div>

        </div>

    </div>
</form> -->

{% endblock content %}
